<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>リサイズした画像を写真ライブラリに保存するためにアクセスが必要です。</string>
	<key>NSCameraUsageDescription</key>
	<string>カメラで撮影した画像をリサイズするためにアクセスが必要です。</string>
</dict>
</plist>
